*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: $ink-black;
    color: $off-white;
    font-family: $font-body;
    line-height: 1.6;
    transition: opacity 0.2s ease;
    opacity: 0;

    &.fade-in {
        opacity: 1;
    }

    &.fade-out {
        opacity: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.main {
    padding-top: 30px;
}
