// Colours
$ink-black: #01161E;
$dark-teal: #124559;
$mid-blue: #598392;
$light-grey: #b0bec5;
$off-white: #f0f4f8;

// Typography
$font-heading: 'Raleway', sans-serif;
$font-body: 'Work Sans', sans-serif;

//Font Weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

//Spacing
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;
$spacing-xl: 8rem;
